* {
    box-sizing: border-box;
    word-break: break-all;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    display: block;
}

header {
    display: block;

}

div {
   display: block;
}


.serach-box-title {
    font-size:36px;
    font-weight: bold;
    margin-top:30px;
    margin-right:50px;
    padding-right:20px;
}

.serach-box-subtitle {
    font-size:20px;
    margin-top:20px;
    margin-right:20px;
    text-align:left;
}

input {
    border:solid 4px #00BFFF;
    border-radius: 10px;
    width:100%;
    margin:0 auto;
    padding:10px;
}



    
}
.container {
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.item {
    float:left;
    align-items:center;
    border-radius: 10px;
    border:solid 1px #222;
}

.item img {
    display: block;
    width:300px;
    height:300px;
    margin:5px;
}
.item span {
    display: block;
    
}

div {
    display: block;
}